* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(45deg, #303031, #4c4d4d);
  min-height: 100vh;
}

#userImg {
  border-radius: 5rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2.5rem;
}

header {
  width: 100%;
  height: 4rem;
  background-color: #272a2b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #e9ecec;
}

#cardTitle {
  width: 23rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
  background-color: #4c4d4d;
  color: #e9ecec;
  font-weight: 600;
  font-size: 20px;
}

#cardTitle::placeholder {
  text-align: center;
  color: #e9ecec;
  font-size: 15px;
}

.principalForm {
  display: flex;
  align-items: center;
  margin-right: 34rem;
}
.principalForm form {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#prioOptions {
  border-radius: 1rem;
  background-color: #4c4d4d;
  color: #e9ecec;
  border: none;
}
#prioOptions:hover {
  background-color: #5c5d5d;
  color: #e9ecec;
  border: none;
  outline: none;
}

button {
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #e9ecec;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.saveBtn {
  color: #39b36d;
}

.clearBtn {
  color: #c21c3a;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a2b;
  color: #e9ecec;
  width: 25rem;
  height: 50rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
}

.title {
  background-color: #39a4cb;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #e9ecec;
}

.doneTitle {
  background-color: #54cf89;
}

#itemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464a4b;
  width: 95%;
  height: 5.5rem;
  margin-top: 1rem;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 650;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.priorityInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 5rem;
  font-size: 12px;
  letter-spacing: -4px;
  color: #e9ecec;
  border-radius: 15px;
  font-weight: 700;
}
.ALTA {
  background-color: #c21c3a;
}
.NORMAL {
  background-color: #ccb325;
}
.BAIXA {
  background-color: #39a4cb;
}

#divBtn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 0.5rem;
}

.doneBtn {
  color: #39b36d;
  background-color: #c0f3d6;
}

.doneBtn:hover {
  color: #e9ecec;
  background-color: #54cf89;
  transition: 0.5s;
}

.deleteBtn {
  color: #c21c3a;
  background-color: #ec98a7;
}

.deleteBtn:hover {
  color: #e9ecec;
  background-color: #c21c3a;
  transition: 0.5s;
}

.doneCardTitle {
  margin-right: 4rem;
}
